@page
@model CO699_TaskTrackerApp.Pages.UserTasks.IndexModel

@{
    ViewData["Title"] = "My List";
}
<link href="~/css/site.css" rel="stylesheet" type="text/css" />

<h1>My List</h1>
<br />
<p>
    <a class="btn btn-primary" asp-page="Create">Add Task</a>
</p>
<form>
    <p>
        <!-- TODO: Add asp-for search condition attribute from code-behind file for textbox -->
        <input type="text" placeholder="Search" />
        <input type="submit" class="btn btn-primary" value="Submit" />
    </p>
</form>
<div class="sort-buttons">
    <a asp-route-sortOrder="@Model.DateSort">Sort by Date</a><br />
    <a asp-route-sortOrder="@Model.PrioritySort">Sort by Priority</a>
</div>
<br />

<!-- Bootstrap card for each task (reference: https://getbootstrap.com/docs/5.2/components/card/#header-and-footer) -->
@foreach (var item in Model.UserTasks)
{
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <div class="taskCheckbox">
                <input type="checkbox" class="form-check-input" id="taskCompleteCheck" 
                    bind="@item.IsCompleted" />
                <label class="form-check-label" for="taskCompleteCheck">Completed</label>
            </div>
            <p><strong>Due: @Html.DisplayFor(modelItem => item.DueDate)</strong></p>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p><strong>Priority: @Html.DisplayFor(modelItem => item.Priority)</strong></p>
            </div>
            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
            <div class="d-inline-flex justify-content-between">
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </div>
        </div>
    </div>
    <br />
}

@* Sample card for checking layout - not taken from database 
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="taskCheckbox">
            <input type="checkbox" class="form-check-input" id="taskCompleteCheck" />
            <label class="form-check-label" for="taskCompleteCheck">Completed</label>
        </div>
        <b>Due 15/02/2023</b>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">Complete assignment</h5>
            <b>Priority: High</b>
        </div>
        <p class="card-text">See assignment brief for more details.</p>
        <div class="d-flex justify-content-between">
            <a class="btn btn-primary" asp-page="./Edit">Edit</a>
            <a class="btn btn-danger" asp-page="./Delete">Delete</a>
        </div>
    </div>
</div>*@

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].Reminder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserTask) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reminder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
