@page
@model CO699_TaskTrackerApp.Pages.UserTasks.IndexModel

@{
    ViewData["Title"] = "My List";
}

<h1>My List</h1>
<p>
    <a class="btn btn-primary" asp-page="Create">Add Task</a>
</p>

<!-- Bootstrap card for each task (reference: https://getbootstrap.com/docs/5.2/components/card/#header-and-footer) -->
@foreach (var item in Model.UserTask)
{
    <div class="card">
        <div class="card-header">Due @item.DueDate</div>
        <div class="card-body">
            <h5 class="">@item.Name</h5>
            <p class="card-text">@item.Description</p>
            <div class="d-inline-flex justify-content-between">
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    </div>
}

@*<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].ReminderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTask[0].IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserTask) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReminderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-secondary" asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
