@page "/"
@model CO699_TaskTrackerApp.Pages.UserTasks.IndexModel

@{
    ViewData["Title"] = "My List";
}
<link href="~/css/site.css" rel="stylesheet" type="text/css" />
<script src="~/js/site.js" defer></script>

<h1>My List</h1>
<br />
<p>
    <a class="btn btn-primary" asp-page="Create">Add Task</a>
</p>

<!-- Search box reference: https://learn.microsoft.com/en-gb/aspnet/core/data/ef-rp/sort-filter-page?view=aspnetcore-7.0#add-filtering -->
<form asp-page="./Index" method="get">
    <div class="form-actions">
        <p>
            <input type="text" name="SearchString" value="@Model.CurrentFilter" placeholder="Search" />
            <input type="submit" class="btn btn-sm btn-primary" value="Find" />
            <a class="btn btn-sm btn-secondary" asp-page="./Index">View full list</a>
        </p>
    </div>
</form>

<div class="sort-buttons">
    <a asp-route-sortOrder="@Model.DateSort">Sort by Date</a><br />
    <a asp-route-sortOrder="@Model.PrioritySort">Sort by Priority</a>
</div>
<br />

<!-- Bootstrap card for each task (reference: https://getbootstrap.com/docs/5.2/components/card/#header-and-footer) -->
@foreach (var item in Model.UserTasks)
{
    // Strikethrough task details if task is set as completed
    if (item.IsCompleted == true)
    {
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <!-- TODO: Fix issue with setting task completion status -->
                <div class="taskCheckbox">
                    <input type="checkbox" asp-for="@item.IsCompleted">
                    <label class="form-check-label">Completed</label>
                </div>
                <strong id="task-due-date"><strike>Due: @Html.DisplayFor(modelItem => item.DueDate)</strike></strong>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title" id="task-name"><strike>@Html.DisplayFor(modelItem => item.Name)</strike></h5>
                    <p id="task-priority"><strong><strike>Priority: @Html.DisplayFor(modelItem => item.Priority)</strike></strong></p>
                </div>
                <p class="card-text" id="task-description"><strike>@Html.DisplayFor(modelItem => item.Description)</strike></p>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <!-- TODO: Fix issue with setting task completion status -->
                <div class="taskCheckbox">
                    <input type="checkbox" asp-for="@item.IsCompleted">
                    <label class="form-check-label">Completed</label>
                </div>
                <strong id="task-due-date">Due: @Html.DisplayFor(modelItem => item.DueDate)</strong>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title" id="task-name">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p id="task-priority"><strong>Priority: @Html.DisplayFor(modelItem => item.Priority)</strong></p>
                </div>
                <p class="card-text" id="task-description">@Html.DisplayFor(modelItem => item.Description)</p>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </div>
            </div>
        </div>
    }
    <br />

    @*<!-- TODO: Fix functions -->
    if (item.IsCompleted == true)
    {
        <script>strikeText();</script>
    }
    else
    {
        <script>removeStrikeText();</script>
    }*@
}
